#bootstrap-overrides .navText{
	color: white;
}

#bootstrap-overrides .fa{
	color: white;
	font-size: 40px;
	position: relative;
	padding-right: 15px;
	padding-top: 5px;
}

#bootstrap-overrides .fa:hover{
	text-decoration: none;
}

/*#main{
	padding-top: 65px;
}*/

.page-header{
	padding-top: 40px;
}

