#bootstrap-overrides .navText{
	color: white;
}

#bootstrap-overrides .fa{
	color: white;
	font-size: 40px;
	position: relative;
	padding-right: 15px;
	padding-top: 5px;
}

#bootstrap-overrides .fa:hover{
	text-decoration: none;
}

/*#main{
	padding-top: 65px;
}*/

.jumbotron{
	background-color: #0C4A5E;
	color: #9d9d95;
}

.panel-heading{
	background-color: #232323;
	color: #9d9d95;
	border-color: #393939;
}

.panel{
	border-color: #393939;
	border-width: 0px !important;
}

.panel-body{
	background-color: #053140;
	border-top-width: 0px !important;
}