#bootstrap-overrides .navText{
	color: white;
}

#bootstrap-overrides .fa{
	color: #9d9d95;
	font-size: 40px;
	position: relative;
	padding-right: 15px;
	padding-top: 5px;
}

#bootstrap-overrides .fa:hover{
	text-decoration: none;
}

#bootstrap-overrides .jumbotron{
	background-color: rgba(5,49,64,0.7);
	color: #9d9d95;
	opacity: 
	padding: 10%;
}


.panel-heading{
	background-color: #232323;
	color: #9d9d95;
	border-color: #232323;
}

.panel{
	border-color: #232323;
/*	border-width: 0px !important;*/
}

.panel-body{
	background-color: rgba(5,49,64,0.9);
/*	background-color: #0C4A5E;*/
/*	border-top-width: 0px !important;*/
	border-color: #232323 !important;
}

#collapseOne.panel-collapse.collape.in{
	border-width: 0px !important;
}

body{
	background-color: #9d9d95;
	background-image: url("../media/gradient_bg.jpg")
}

.rating{
	font-size: 15px;
	display: inline;
}

.skill{
	display: inline;
	position: relative;
	float: left;
	min-width: 25%;
}

.panel-group{
	width: 35%;
	position: relative;
	margin-top: 15px;
}

#bootstrap-overrides .fa-circle{
	font-size: 15px;
	padding-top: 0px;
	padding-right: 5px;
}

#bootstrap-overrides .cssSkill{
	color: #2daadd;
}

#bootstrap-overrides .jsSkill{
	color: #f8dc3d;
}

#bootstrap-overrides .javaSkill{
	color: #e0171b;
}

#bootstrap-overrides .cSharpSkill{
	color: #9a69d5;
}

#bootstrap-overrides .htmlSkill{
	color: #f06529;
}